
 /*****************css de la bordure du droit avec menu,photo et titre*/
#menu{
  background-color:lightcoral;
  margin-right: 20%;
  position:absolute;
  width:20%;
  align-content: center;
  justify-content: space-between;
  padding:1%;
  font-size: "1px";
  padding-bottom:6%;


}


Image{
  padding:30%;
  position:relative;
  border-style: double;
  border-image: linear-gradient(to right, #ff7e5f, #feb47b);
  border-image-slice: 1;
  }


h1{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;

}

#entete{
background-color:lightcoral; ;
align-content: center;
width:20%;
padding-left:2%;
padding-top:2%;

}

/*********************************************************/

/***css des contenu de Tab*/

.contenu{
  height: 100vh; /* Soustrayez la hauteur du menu (ajustez selon votre conception) */
  display: flex;
  margin-top: -25%;
  margin-left:20%;
  padding-top: 90%;
  width:80%;
  position: relative;
  background-color: blanchedalmond;
}

/**css pour la page d'acceuil**/

#telechargement{
margin-top: 53%;
margin-left: 35%;
width:40%;
position: absolute;
}

#paragrapheAcceuil{
position :absolute;
  width:70%;
  margin-left:10%;
  justify-content:space-around;
}


#bio{
  border-color:lightcoral;
  border-width: 20px;
  background-color: white;
  margin-top:10%;

}


/*css contact*/
#contact{
  margin-top:20%;
  margin-left:10%;
  border-color:lightcoral;
  border-width: 20px;
  background-color: white;
  color:lightcoral;
  width: 230%;
}

#competence{
  border-color:lightcoral;
  border-width: 20px;
  background-color: white;
}

/*css du contenu de interets*/

#loisir{
  color: #ff7e5f;
}

#portfolio{
  font-size:30px;
}

#telechargement2{
  margin-top:10%;
  margin-left: 40%;
}